<div class="text-center my-3">
    <h5>本当に退会しますか？</h5><br>
    <p>退会すると、会員登録情報や<br>
これまでの購⼊履歴が閲覧できなくなります。<br>
退会する場合は、「退会する」をクリックしてください。<br>
</p>
</div>

    <div class="row">
        <div class="col-2 offset-4 my-3">
            <%= link_to "退会しない",mypage_path,class: "btn btn-primary btn-block d-inline-block" %>
        </div>
        <div class="col-2 my-3">
            <%= link_to "退会する",withdraw_path,class: "btn btn-danger btn-block d-inline-block",method: :patch,"data-confirm" => "本当に退会しますか？" %>
        </div>
    </div>

