<div class="container">
    <h1>image</h1>
    <%= form_with model: @item,url: admin_item_path(@item),method: :patch,local: true do |f| %>
    <%= f.attachment_field :image %>
    <%= f.submit "ä¿å­˜"%>
    <% end %>
</div>