    <div class="row">
        <div class="mx-auto">
           <p class="large text-center">About</p>
           <p>
            エコ容器オンラインショップにアクセスいただき誠にありがとうございます。<br>
            エコ容器は、リサイクルが可能なため、環境にやさしい食品容器です。<br>
            白門祭準備における、容器購入の手間が省けるよう、さまざまなバリデーションをご用意しております。<br>
            ぜひご注文下さい。<br>
           </p>
           <div class="text-center">
             <%= image_tag 'eco.png', size: '300x100' %>
            </div>
        </div>
    </div>