    <div class="row">
        <div class="mx-auto">
           <h1 class="text-center my-3">初めての方へ</h1>
           <p>
            エコ容器オンラインショップにアクセスいただき誠にありがとうございます。<br>
            エコ容器は、リサイクル可能な環境にやさしい食品容器です。<br>
            白門祭準備時、容器購入の手間が省けるよう、さまざまなバリエーションをご用意しております。<br>
            ぜひご注文下さい。<br>
           </p>
           <h3 class="border_color"><span>会員登録</span></h3>
           <p>エコ容器オンラインショップ会員にご登録いただくと、当サイトを快適にご利用いただけます。</p>
           <h5>利用できる機能</h5>
           <ul>
            <li>購入情報登録</li>
            <p>お名前、お届け先等をあらかじめ登録できますので、お買い物の際の情報入力の手間が省けます。</p>
            <li>ご購入履歴</li>
            <p>ご購入いただいた商品のご注文後の状況を確認いただけます。</p>
           </ul>
           <h3 class="border_color">ご注文方法</h3>
           <p>お好きな商品をショッピングカートに入れていただき、お届け先情報、決済情報を入力いただきます。</p>
           <h3 class="border_color ">お支払方法</h3>
           <p>クレジットカード、銀行振込からご選択できます。</p>
           <h3 class="border_color">配送料</h3>
           <p>白門祭実行委員会宛てにご送付先を設定しますと、配送料が無料になります。<br>
           それ以外は送料が1つの注文につき、800円のご負担となります。
           </p>
           <div class="text-center">
             <%= image_tag 'eco.png', size: '300x100',class: "my-3" %>
            </div>
        </div>
    </div>