<big class="silver">会員一覧</big>
<table class="table table-bordered my-3">
    <tr>
    <th>id</th>
    <th>氏名</th>
    <th>メールアドレス</th>
    <th>ステータス</th>
    </tr>
 <% @customers.each do |customer| %>
    <tr>
    <td><%= customer.id %></td>
    <td><%= link_to "#{customer.last_name}#{customer.first_name}",admin_customer_path(customer) %></td>
    <td><%= customer.email %></td>
    <td>
        <% if customer.is_deleted? %>
        退会済み
        <% else %>
        <big class="green">有効</big>
        <% end %>
    </td>

    </tr>
 <% end %>
</table>