<div class="container">
<big class="silver">管理者一覧</big>
<table class="table table-bordered my-3">
    <tr>
    <th>id</th>
    <th>メールアドレス</th>
    <th>ステータス</th>
    </tr>
 <% @admins.each do |admin| %>
    <tr>
    <td><%= admin.id %></td>
    <td><%= admin.email %></td>
    <td>
    </td>

    </tr>
 <% end %>
</table>
</div>