/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import "slick-theme";
@import "slick";
@import "carousel";
.silver{
    background-color: #EEEEEE;
}
th{
    background-color: #EEEEEE;
}
.error{
    color:red;
}
.notice{
    color: green;
}
.green{
    color: green;
    font-weight:bold;
}
.border_color{
   border-bottom: solid 2px green;
}
.c {
    height: 300px;
    width : 100% ;
    
  }