    <big class="silver">商品一覧</big>(全<%= @items.count %>件)
    <div class="row">
       <% @items.each do |item| %>
       <div class="col-lg-3 my-3">
       <%= image_tag item.image.variant(resize:'200x100') if item.image.attached? %><br>
       <%= link_to item.name,item_path(item) %><br>
       ￥<%= (item.price*1.1).floor %>
       </div>
       <% end %>
    </div>