  <div class="card border-warning my-3">
  <h5 class="card-header bg-warning">商品一覧</h5>
  <div class="card-body"> 
    <div class="row">
       <% @items.each do |item| %>
       <div class="col-lg-3 my-3">
       <%= image_tag item.image.variant(resize:'200x100') if item.image.attached? %><br>
       <%= link_to item.name,item_path(item) %><br>
       ￥<%= (item.price*1.1).floor %>
       </div>
       <% end %>
    </div>
   </div>
</div>