<div class="container">
    <div class="row my-3">
        <div class="col-3 offset-3">
            <%= attachment_image_tag @item, :image, format: 'jpeg',size: "200x100" %>
        </div>
        <div class="col-3">
            <%= @item.name %><br>
            <%= @item.introduction %><br>
            ￥<%= (@item.price*1.1).floor %>(税込み)<br>
            
        </div>
    </div>
</div>